<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <title>Daumanto tinklapis</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href=../index.html>Pagrindinis</a></li>
                <li><a href="experience.html">Darbinė patirtis</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>Apie mane</h2>
            <p><img src="../img/profile-1.jpg" alt="mano asmeninė nuotrauka"></p>
        </article>

    </main>

    <footer>
        <p>&copy; 2024 Daumanto tinklapis</p>
    </footer>
</body>