<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <title>Daumanto tinklapis</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href=../index.html>Pagrindinis</a></li>
                <li><a href="about.html">Apie mane</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>Darbo patirtis</h2>
            <p><a href="https://www.linkedin.com/in/daumantas-kud%C5%BEma-12b718107/" target="_blank">Linkedin</a></p>
        </article>

    </main>

    <footer>
        <p>&copy; 2024 Daumanto tinklapis</p>
    </footer>
</body>